# Porta do servidor
PORT=3000

# Configurações do banco de dados
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=postgres
DB_AUTOLOADENTITIES=true
DB_SYNCHRONIZE=false 

# Configurações do JWT
JWT_SECRET=COLOQUE-A-SENHA-SECRETA-JWT
JWT_TOKEN_AUDIENCE=crud-study
JWT_TOKEN_ISSUER=crud-study
JWT_TTL=3600
JWT_REFRESH_TTL=86400

NODE_ENV=development